*.pyc
__pycache__/
.pio/
*.o
*.a
*.elf
*.hex
*.bin
!rom_files/*.bin
-e 
# PyInstaller
build/
dist/
*.spec

# KiCad
pcb/*.kicad_prl
pcb/*-backups/
pcb/_autosave-*
pcb/*.bak
pcb/fp-info-cache
pcb/gerbers/
